{% extends "base.html" %}
{% load static %}

{% block title %}
Reviews
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<div class="container page-container">
    <div class="row">
        <div class="col flex-center page-heading">
            <h1>Our Reviews</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            {% if edit_review %}
                <h2 class="text-center mb-5">Edit Review</h2>
            {% else %}
                <h2 class="text-center mb-5">Add A Review</h2>
            {% endif %}
            {% if request.user.is_authenticated %}
                <form id="review-form" class="mb-5" method="POST"
                    {% if edit_review %}
                        action="{% url 'edit_review' review_to_edit.id %}" 
                    {% else %} 
                        action="{% url 'our_reviews' %}"
                    {% endif %} >
                {% csrf_token %}
                {{ form.review | as_crispy_field }}
                <div class="div stars-input flex-row-between">
                    <div class="minus-btn flex-center">
                        <i class="las la-minus"></i>
                        <span class="sr-only">decrement button</span>
                    </div>
                    <div class="mb-3">
                        <label for="stars" class="form-label">Stars</label>
                        <div>
                            {% if edit_review %}
                            <input class="form-control" type="number" name="stars" value="{{ review_to_edit.stars }}" min="1" max="5" id="stars">
                            {% else %}
                            <input class="form-control" type="number" name="stars" value="1" min="1" max="5" id="stars">
                            {% endif %}
                        </div>
                    </div>
                    <div class="plus-btn  flex-center">
                        <i class="las la-plus flex-center" aria-hidden="true">
                        </i>
                        <span class="sr-only">increment button</span>
                    </div>
                </div>
                <button class="item-link-dark item-link-button  flex-center m-auto " type="submit">
                    {% if edit_review %}
                        Edit Review
                    {% else %}
                        Add Review
                    {% endif %}
                </button>
            </form>
            {% else %}
                <p class="fs-2 mb-5">Please
                    <a class="fs-2 mx-2" href="{% url 'account_login' %}"> Login</a> or
                    <a class="fs-2 mx-2" 
                    href="{% url 'account_signup' %}">Signup </a>To create a wishlist.</p>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-8 ">
            <h3 class="text-center fs-1">What People are saying.</h3>
            <hr>
            <div class="row review-row">
                {% for review in page_obj %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="review flex-center">
                        <div class="stars">
                            {% if review.stars == 1 %}
                                <i class="las la-star" aria-hidden="true"></i>
                            {% elif review.stars == 2 %}
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                            {% elif review.stars == 3 %}
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                            {% elif review.stars == 4 %}
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                            {% else %}
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                                <i class="las la-star" aria-hidden="true"></i>
                            {% endif %}
                        </div>
                        <p>{{ review.review }}</p>
                        <p><strong>{{review.reviewer}}</strong></p>
                        {% if user == review.reviewer %}
                            <a href="{% url 'edit_review' review.id %}">Edit</a>
                            <button type="button" class="text-danger fs-5 review-delete" data-bs-toggle="modal"
                                data-bs-target="#review-deleteModal-{{review.id}}">
                                Delete
                            </button>
                            <div class="modal fade" id="review-deleteModal-{{review.id}}" tabindex="-1"
                                aria-labelledby="review-deleteModalLabel-{{review.id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fs-1 m-auto" id="review-deleteModalLabel-{{review.id}}">
                                                Delete Item!
                                            </h5>
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-center text-danger fs-3">
                                                Are you sure you want to delete this item?
                                            </p>
                                        </div>
                                        <div class="modal-footer m-auto">
                                            <button type="button" class="fs-3 modal-button
                                    cancel-btn flex-center" data-bs-dismiss="modal">Cancel</button>
                                            <form method="POST" action="{% url 'delete_review' review.id %}">
                                                {% csrf_token %}
                                                <button class=" modal-button fs-3 flex-center delete-btn"
                                                    type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <!-- pagination taking from djano documintation that I changed slightly and styled with css -->
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="paginate-items ms-5 mt-5">
                        <div class="current">
                            <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                        </div>
                        <div class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1&sort={{ sort }}&direction={{ direction }}">&laquo; First
                            </a>
                            <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&direction={{ direction }}">&laquo;
                                Previous
                            </a>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&direction={{ direction }}">Next
                                &raquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}&sort={{ sort }}&direction={{ direction }}">Last
                                &raquo;
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block other_end_js %}
{{ block.super }}
<script src="{% static 'js/selectNumber.js' %}"></script>
{% endblock %}