{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
{% load humanize %}
{% block title %}
Your Cart
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<div class="container page-container">
    <div class="row">
        <div class="col cart-heading page-heading text-center">
            <h1>Shopping Cart</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="cart-table">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    {% for item in cart_items %}
                    <tr>
                        <td>
                            {% if item.item.image %}
                                <img src="{{ MEDIA_URL }}{{ item.item.image }}" alt="image of {{ item.item.name }}"
                                class="table-image">
                            {% else %}
                                <img src="{{ MEDIA_URL }}no_image.png" alt="No image found for {{ item.item.name }}"
                                class="table-image">
                            {% endif %}
                                <p class="mt-2 d-md-none">
                                    {{ item.item.name }}
                                </p>
                        </td>
                        <td>
                            <p class="d-none d-md-block">
                                {{ item.item.name }}
                            </p>
                        </td>
                        <td>
                            <p>€ {{ item.item.price|intcomma }}</p>
                        </td>
                        <td>
                            <form class="cart-quantity-form" method="POST"
                                action="{% url 'update_cart' item.item_id %}">
                                {% csrf_token %}
                                <div class="checkout-no-input flex-row-between">
                                    <div class="minus-btn flex-center">
                                        <i class="las la-minus"></i>
                                        <span class="sr-only">
                                            decrement button</span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="item_quantity_{{item.item_id}}">
                                            <span class="visually-hidden">
                                                Item Quantity</span>
                                        </label>
                                        <div>
                                            <input class="mt-2" type="number" value="{{ item.quantity }}"
                                                name="item_quantity" min="0" max="9"
                                                id="item_quantity_{{item.item_id}}">
                                        </div>
                                    </div>
                                    <div class="plus-btn  flex-center">
                                        <i class="las la-plus flex-center" aria-hidden="true"></i>
                                        <span class="sr-only">increment button</span>
                                    </div>
                                </div>
                            </form>
                            <a class="update-quantity-link">Update
                            </a>
                            <a class="remove-cart-item text-danger " id="remove_{{ item.item_id }}">Remove</a>
                        </td>
                        <td>
                            <p>€ {{ item.item.price|calculate_total:item.quantity|intcomma }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-4  text-end">
                            <p>Total: € {{ total|floatformat:2|intcomma }}</p>
                            <p>Delivery: € {{ home_delivery|floatformat:2 }}</p>
                            <p class="cart-total-price">Total Price : € {{ grand_total|floatformat:2|intcomma }}</p>
                        </td>
                    </tr>
                </table>
                <div class="cart-links d-flex justify-content-end">
                    <a href="{% url 'all_items' %}" class="item-link-light item-link-button  flex-center">Keep
                        Shopping</a>
                    <a href="{% url 'checkout' %}" class="item-link-dark item-link-button  flex-center">Checkout</a>
                </div>
            </div>
            {% else %}
                <div class="cart-no-items text-center">
                    <p>No items in shopping bag</p>
                    <a href="{% url 'all_items' %}" class="item-link-light item-link-button m-auto flex-center">Keep
                        Shopping</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block other_end_js %}
{{ block.super }}
<script>
     let csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'cart/js/cart.js' %}"></script>
<script src="{% static 'js/selectNumber.js' %}"></script>
{% endblock %}