<div class="container checkout-container">
    <div class="row">
        <div class="col flex-center checkout-heading">
            <h1>Stock Control</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="fs-2 text-center mb-3">{{ title }}</h3>
            <form id="item-form" class="m-auto"
            {% if add_item %}
            action="{% url 'add_item' %}"
            {% else %}
            action="{% url 'edit_item' item.id %}"
            {% endif %}
            method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="m-auto mt-5 mb-5 item-link-button flex-center item-link-dark" id="item-submit">{{ submit_text }}</button>
            </form>
        </div>
    </div>
</div>