<div class="container page-container">
    <div class="row">
        <div class="col flex-center page-heading">
            <h1>Stock Control</h1>
        </div>
    </div>
    <div class="row">
        {% if item %}
        <div class="col-12 col-md-6">
            {% else %}
            <div class="col-12">
                {% endif %}
                <h2 class="fs-2 text-center mb-3">{{ title }}</h2>
                <form id="item-form" class="m-auto" {% if add_item %} action="{% url 'add_item' %}" {% else %}
                    action="{% url 'edit_item' item.id %}" {% endif %} method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.code | as_crispy_field }}
                {{ form.name | as_crispy_field }}
                {{ form.description | as_crispy_field }}
                {{ form.price | as_crispy_field }}
                {{ form.image }}
                    {{ form.category | as_crispy_field }}
                    <button type="submit" class="m-auto mt-5 mb-5 item-link-button flex-center item-link-dark"
                        id="item-submit">{{ submit_text }}</button>
                </form>
            </div>
            {% if item %}
            {% if item.image %}
           
            <div class="col-12 col-md-6 mt-0 item-img-col  flex-center">
                 <h3 class="fs-3 text-center">Items current image</h3>
                <img src="{{ MEDIA_URL }}{{ item.image }}" alt="image for {{ item.name }}">
            </div>
            {% else %}
            <div class="col-12 col-md-6 mt-0 item-img-col flex-center">
                   <h3 class="fs-2 text-center">Item current has no image</h3>
                <img src="{{ MEDIA_URL }}no_image.png" alt="No image found for {{ item.name }}">
            </div>
            {% endif %}


            {% endif %}
        </div>
    </div>