{% extends "base.html" %}

{% load static %}
{% block title %}
Wishlist
{% endblock %}
{% block other_css %}
<link rel="stylesheet" href="{% static 'wishlist/css/wishlist.css' %}">
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<div class="container page-container">
    <div class="row">
        <div class="col page-heading text-center">
            <h1>Wishlist</h1>
        </div>
    </div>
    <div class="row">
        {% if request.user.is_authenticated %}
        {% if wishlist_items %}
        <div class="col-12">
            <div class="wishlist-edit">
                <p class="edit fs-4 flex-center">Edit</p>
                <button type="button" class="modal-button hidden-button fs-3 delete-wishlist flex-center"
                    data-bs-toggle="modal" data-bs-target="#deleteWishlistModal">
                    Delete wishlist
                </button>
            </div>
            <div class="modal fade" id="deleteWishlistModal" tabindex="-1" aria-labelledby="deleteWishlistModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-1 m-auto" id="deleteWishlistModalLabel">Delete Wishlist!</h5>
                        </div>
                        <div class="modal-body">
                            <p class="text-center text-danger fs-3">
                                Are you sure you want to delete your Wishlist?
                            </p>
                        </div>
                        <div class="modal-footer m-auto">
                            <button type="button" class="fs-3 modal-button
                                cancel-btn flex-center" data-bs-dismiss="modal">Cancel</button>
                            <form method="POST" action="{% url 'delete_wishlist' %}">
                                {% csrf_token %}
                                <button type="submit" class=" modal-button fs-3 flex-center delete-btn">Delete</button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for item in wishlist_items %}
        <div class="col-12 col-md-6 col-lg-4 item-col">
            <div class="item-container flex-center">
                <div class="img-container">
                    <!-- displays the like unlike buttons for the wishlist -->
                    <button id="liked_{{item.id}}" type="submit" class="wishlist-button-liked hidden-button wishlist-btn-liked">
                        <i class="las la-times flex-center" aria-hidden="true"></i>
                        <span class="sr-only">Remove from wishlist button</span>
                    </button>
                    {% if item.image %}
                    <a href="{% url 'single_item' item.id %}">
                        <img src="{{ MEDIA_URL }}{{ item.image }}" alt="image for {{ item.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'single_item' item.id %}">
                        <img src="{{ MEDIA_URL }}no_image.png" alt="No image found for {{ item.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="item-details all-item-details flex-row-between">
                <h2>{{ item.name }}</h2>
                <p>€ {{ item.price }}</p>
            </div>
            <form class="mt-5" action="{% url 'add_to_cart' item.id %}" method="POST">
                {% csrf_token %}
                <input class="form-control" type="hidden" name="quantity" value="1">
                <button type="submit" class=" item-link-button flex-center item-link-dark m-auto">Add To Cart</button>
                <input type="hidden" name="redirect_url" 
                value="{{ request.path }}">
            </form>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <h3 class="fs-1 text-center my-5">Your Wishlist is empty</h3>
            <p class="fs-4 text-center mb-4">We have some great products in our full collection.</p>
            <a href="{% url 'all_items' %}" class="item-link-light item-link-button  flex-center m-auto">Shop
                Collection</a>
        </div>
        {% endif %}
        {% else %}
        <div class="col">
            <p class="flex-center fs-2">Please
                <a class="fs-2 mx-2" href="{% url 'account_login' %}"> Login </a> or
                <a class="fs-2 mx-2" href="{% url 'account_signup' %}">Signup</a>
                To create a wishlist.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block other_end_js %}
{{ block.super }}
<script>
    let csrfToken = "{{ csrf_token }}"
</script>
<script src="{% static 'wishlist/js/wishlist.js' %}"></script>

{% endblock %}