{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block other_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
{% block title %}
Checkout
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<div class="container page-container ">
    <div class="row">
        <div class="col flex-center page-heading">
            <h1>Checkout</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 order-md-last px-2">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="flex-center">Your Cart</h2>
                            <hr class="mx-4">
                        </div>
                        <div class="col-9 offset-1">
                            <p class="fs-5">Your Cart has {{ item_count }}
                                {% if item_count == 1 %}
                                    item
                                {% else %}
                                    items
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="cart-items-wrapper">
                        {% for item in cart_items %}
                            {% include 'includes/cart-items.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 offset-6">
                        <hr class="mx-2">
                        <p class="fs-5">
                            Total: € {{ total|floatformat:2|intcomma }}
                        </p>
                        <p class="fs-5">
                            Delivery: € {{ home_delivery|floatformat:2 }}
                        </p>
                        <p class="cart-total-price">
                            Total Price : € {{ grand_total|floatformat:2|intcomma }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 px-2 mb-5">
                <form id="checkout-form" action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}
                    <fieldset class="px-2 mb-4">
                        <legend>Contact Details</legend>
                            {{ form.full_name | as_crispy_field }}
                            {{ form.email | as_crispy_field }}
                            {{ form.contact_number | as_crispy_field }}
                    </fieldset>
                    <fieldset class="px-2 mb-4">
                        <legend>Delivery Details</legend>
                            {{ form.street_address_1 | as_crispy_field }}
                            {{ form.street_address_2 | as_crispy_field }}
                        <div class="row">
                            <div class="col-6 pe-2">
                                {{ form.town_or_city | as_crispy_field }}
                            </div>
                            <div class="col-6 ps-2">
                                {{ form.county | as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pe-2">
                                {{ form.eircode | as_crispy_field }}
                            </div>
                            <div class="col-6 ps-2">
                                {{ form.country | as_crispy_field }}
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-check ms-5">
                        {% if user.is_authenticated %}
                            <input class="form-check-input form-check-inline " type="checkbox" id="save-info"
                                name="save-info" checked>
                            <label class="form-check-label" for="save-info">
                                Save info to profile.
                            </label>
                        {% else %}
                            <p class="form-check-label">
                                <a class="text-info" 
                                href="{% url 'account_signup' %}">
                                Create an account</a> or
                                <a class="text-info" 
                                href="{% url 'account_login' %}">
                                login</a> to save this information
                            </p>
                        {% endif %}
                    </div>
                    <fieldset class="px-2 mt-5">
                        <legend>Payment</legend>
                        <!-- For stripe card element -->
                        <div id="card-element"></div>
                        <!-- For card errors -->
                        <div class="text-danger" id="card-errors" role="alert"></div>
                        <!-- hiden value to pass client secret to view -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="checkout-submit-links flex-row-between">
                        <a href="{% url 'view_cart' %}" class="item-link-light item-link-button  flex-center">
                            Adjust Cart</a>
                        <button type="submit" class=" item-link-button flex-center item-link-dark"
                            id="checkout_submit">Complete Order</button>
                    </div>
                    <p class="float-end mx-4">Your card will be charged <strong>€{{ grand_total|floatformat:2|intcomma }}</strong>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="loading">
    <div class="flex-center spinner-container">
        <div class="spinner-border spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}
{% block other_end_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}