{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load wishlist_tools %}
{% block title %}
{% endblock %}
{% block header %}
<!-- Hero section -->
<div class="container-fluid hero-container">
    <div class="row hero-row">
        <div class="col-12 col-xl-6 hero-col-left">
            <div class="hero-overlay"></div>
        </div>
        <div class="col-12 col-xl-6  hero-col-right">
            <div class="hero-overlay"></div>
            <h1 class="text-shadow">Designed For Living</h1>
            <div class="hero-links">
                <a href="{% url 'all_items' %}" class="link-button link-button-light flex-center">Shop Collection</a>
                <a href="{% url 'our_story' %}" class="link-button link-button-light flex-center">Our Story</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main_content %}
<!-- about section -->
<div class="container">
    <div class="row">
        <div class="about-col col flex-center ">
            <p>Abode.com is your destination for carefully curated designer furniture and accessories. We sell
                contemporary furniture, accessories and lighting for the style-conscious home.
                At, Abode.com we work closely with our furniture creators to bring you the very best in design,
                sustainability and value.</p>
            <a href="{% url 'all_items' %}" class="flex-center link-button link-button-dark ">Shop
                Collection</a>
        </div>
    </div>
</div>
<!-- New in section -->
<div class="container-fluid">
    <div class="row animation-element">
        <div class="col new-item-title-col flex-row-between ">
            <h2>New In</h2>
            <div class="arrows flex-row-between">
                <div id="arrow-left" class="arrow flex-center">
                    <i class="las la-angle-left" aria-hidden="true"></i>
                    <span class="visually-hidden">left arrow for slider</span>
                </div>
                <div id="arrow-right" class="arrow clickable flex-center">
                    <i class="las la-angle-right" aria-hidden="true"></i>
                    <span class="visually-hidden">Right arrow for slider</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col ">
                <div class="slider-wrapper">
                    <div class="new-item-slider-container">
                        <div class="new-item-slider">
                            {% for item in new_items %}
                            <div class="item-container new-item-slide">
                                {% if item.image %}
                                <a href="{% url 'single_item' item.id%}">
                                    <img src="{{ MEDIA_URL }}{{ item.image }}" alt="image for {{ item.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'single_item' item.id%}">
                                    <img src="{{MEDIA_URL}}no_image.png" alt="No image found for {{ item.name }}">
                                </a>
                                {% endif %}
                                <div class="item-details flex-row-between">
                                    <h2>{{ item.name }}</h2>
                                    <p>€ {{ item.price|intcomma }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop by category section -->
<div class="container-fluid category-container">
    <div class="row animation-element">
        <div class="category-title-col ">
            <h2>Shop Our Collections</h2>
        </div>
    </div>
    <div class="row animation-element">
        <div class="category-col col-12 col-lg-4">
            <div class="category-image">
                <a class="text-shadow" href="{% url 'all_items' %}?category=new_in">
                    <img src="{{ MEDIA_URL }}furniture-category-img.jpg" alt="Image for furniture category">
                        <span>New In</span>
                </a>
            </div>
        </div>
        <div class="category-col col-12 col-lg-4 ">
            <div class="category-image">
                <a class="text-shadow" href="{% url 'all_items' %}?category=lighting">
                    <img src="{{ MEDIA_URL }}lighting-category-img.jpg"
                        alt="Image for lighting category">
                        <span>Lighting</span>
                </a>
            </div>
        </div>
        <div class="category-col col-12 col-lg-4">
            <div class="category-image">
                <a class="text-shadow" href="{% url 'all_items' %}?category=accessories">
                    <img src="{{ MEDIA_URL }}accessories-category-img.jpg"
                        alt="Image for accessories category">
                        <span>Accessories</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Customer review section -->
<div class="container review-container animation-element">
    <div class="row">
        <div class="col flex-center">
            <div class="col review-title">
                <h2>Rated Excellent by you</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars flex-center">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>I love Abode.com my armchair arrived on time and looks amazing in my living area. Would highly
                    recomend them.
                </p>
                <p><strong>Louise Carter</strong> Wicklow</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>I purchased a sofa from Abode and it is excellent The quality and design are amazing and it is very
                    comfortable. I would 100% buy from here again.
                </p>
                <p><strong>Stephen Moran</strong> Dublin</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars">
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                    <i class="las la-star" aria-hidden="true"></i>
                </div>
                <p>I recently renovated my home and have bought several items from Abode. I really cannot fault them,
                    everting from delivery, quality and design is excellent
                </p>
                <p><strong>Lyndsay Forde</strong> Waterford</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'our_reviews' %}" class="flex-center link-button link-button-dark  mt-5 mb-4 mx-auto">
                See all Reviews</a>
        </div>
    </div>
</div>
<!-- Blog section -->
<div class="container-fluid blog-homepage-container animation-element">
    <div class="row">
        <div class="category-title-col col-12 ">
            <h2>Get Inspired by our latest blog posts.</h2>
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
        <div class="col-12 col-md-6 col-lg-4 item-col">
            <div class="blog-item-container flex-center">
                <div class="blog-image-container">
                    {% if post.image %}
                        <a href="{% url 'view_post' post.id %}">
                            <img src="{{ MEDIA_URL }}{{ post.image }}" alt="image for {{ item.title }}">
                        </a>
                    {% else %}
                        <a href="{% url 'view_post' post.id %}">
                            <img src="{{ MEDIA_URL }}no_image.png" alt="No image found for {{ post.title }}">
                        </a>
                    {% endif %}
                    <div class="blog-item-details blog-homepage-details">
                        <h2 class="text-center">{{post.title}}</h2>
                        <a href="{% url 'view_post' post.id %}"
                            class="item-link-light item-link-button  flex-center">Read More ...
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col">
                <a href="{% url 'view_blog' %}" class="flex-center link-button link-button-dark  mt-5 mb-4 mx-auto">
                    All Blog Posts
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Section -->
<div class="container-fluid newsletter-container">
    <div class="row">
        <div class="col-12 col-md-6 newsletter-col">
            <h2>Sign Up for Our Newsletter</h2>
        </div>
        <div class="col-12 col-md-6">
            <form class="newsletter-form flex-center" method="POST" action="{% url 'home_page'%}">
                {% csrf_token %}
                {{ form.email }}
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block other_end_js %}
{{ block.super }}
<script src="{% static 'homepage/js/homepage.js' %}"></script>
{% endblock %}