{% extends "base.html" %}

{% load static %}
{% block title %}
Our Story
{% endblock %}
{% block header %}
<!-- background for nav -->
<div class="cntainer-fluid">
    <div class="row">
        <div class="col nav-background"></div>
    </div>
</div>
<!-- hero section -->
<div class="container-fluid hero-container">
  <div class="row">
      <div class="col our-story-hero-col flex-center">
          <h1 class="text-shadow">Our Story</h1>
      </div>
  </div>
</div>
<!-- about section -->
<div class="container">
    <div class="row">
        <div class="col story-about-col">
            <p>Started in Dublin in 2021 Abode.com is an interiors specialist passionate about design and quality. We handpick all items we sell. We work closely with designers to ensure nothing but the best in design and quality for our customers.</p>
        </div>
    </div>
</div>
{% endblock %}