{% extends "base.html" %}

{% load static %}
{% block title %}
Our Story
{% endblock %}
{% block header %}
<!-- background for nav -->
<div class="cntainer-fluid">
    <div class="row">
        <div class="col nav-background"></div>
    </div>
</div>
<!-- hero section -->
<div class="container-fluid hero-container">
  <div class="row">
      <div class="col our-story-hero-col flex-center">
          <h1 class="text-shadow">Our Story</h1>
      </div>
  </div>
</div>
<!-- about section -->
<div class="container">
    <div class="row">
        <div class="col story-about-col">
            <p>Started in Dublin in 2021 Abode.com is an interiors specialist passionate about design and quality. We handpick all items we sell. We work closely with designers to ensure nothing but the best in design and quality for our customers.</p>
        </div>
    </div>
</div>
<!-- design section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 our-story-col flex-center">
            <h3>Design</h3>
            <p>At Abode.com we are passionate about design. Our team works very closely with our furniture designers to bring you one off design pieces for your home.</p>
        </div>
        <div class="col-12 our-story-col flex-center  col-md-6">
            <img src="/media/our-story-design.jpg" alt="Image of our designer furniture">
        </div>
    </div>
</div>
<!-- sustanibility section -->
<!-- for smaller screen sizes -->
<div class="container-fluid d-md-none">
    <div class="row ">
         <div class="col-12 col-md-6 our-story-col flex-center">
            <h3>Sustainability</h3>
            <p>At Abode.com, sustainability is as important to us as the design and quality of our products. We are working closely with our manufactures to ensure all our materials are both ethically sourced and sustainable. We are also working to becoming carbon neutral.</p>
        </div>
        <div class="col-12 our-story-col flex-center  col-md-6">
            <img src="/media/our-story-sustanable.jpg" alt="Image of our designer furniture">
        </div>
    </div>
</div>
<!-- for bigger screenn sizes -->
<div class="container-fluid d-none d-md-block">
    <div class="row ">
        <div class="col-12 our-story-col flex-center  col-md-6">
            <img src="/media/our-story-sustanable.jpg" alt="Image of our designer furniture">
        </div>
      <div class="col-12 col-md-6 our-story-col flex-center">
            <h3>Sustainability</h3>
            <p>At Abode.com, sustainability is as important to us as the design and quality of our products. We are working closely with our manufactures to ensure all our materials are both ethically sourced and sustainable. We are also working to becoming carbon neutral.</p>
        </div>
    </div>
</div>
{% endblock %}