.item-container {
    margin: 0 auto;
}
.item-row{
    padding-top: 8rem;
}

.item-img-col {
    flex-direction: column;
}
.item-img-container{
    position: relative;
}

.item-img-col img {
    height: 36rem;
    width: 25rem;
}

.item-details-col {
    margin: 6rem 0 6rem 5rem;
    width: 25rem;
}

.item-details h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.item-details p {
    font-size: 1.5rem;
}

.item-cat-link {
    color: #285f80;
    font-size: 1.75rem;
    text-decoration: none;
    transition: all .25s ease-in;
}

.item-cat-link {
    color: #153243;
    text-decoration: underline;
}



@media (min-width: 768px) {
    .item-container {
        min-height: 55rem;
    }

    .item-img-col img {
        height: 42rem;
        width: 29rem;
    }

    .item-details h3 {
        font-size: 3.5rem;
        margin-bottom: 2.5rem;
    }

    .item-details p {
        font-size: 1.75rem;
    }
}

@media (min-width: 992px) {
    .item-container {
        min-height: 75rem;
    }

    .item-img-col img {
        height: 48rem;
        width: 35rem;
    }

    .item-details h3 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    .item-details p {
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {
    .item-img-col img {
        height: 52rem;
        width: 37rem;
    }

    .item-details-col {
        width: 35rem;
    }

    .item-details h3 {
        margin-bottom: 5rem;
    }

    .item-details p {
        margin: 1.5rem 0;
    }
}