@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-size: 10px;
}

html {
    height: 100%;

}

.row,
.col {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* common elements */

.link-button {
    color: #EDEDE9;
    font-size: 1.6rem;
    font-weight: 300;
    border: .1rem solid #EDEDE9;
    text-decoration: none;
    padding: 2rem;
    width: 16rem;
    height: 5rem;
    background: rgba(29, 29, 29, 0.433);
    backdrop-filter: blur(.3rem);
}

button {
    background: transparent;
    border-width: 0;
}

button:focus {
    outline: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-shadow {
    text-shadow: .5rem .5rem .8rem rgba(26, 26, 23, 0.678);
}

a {
    transition: all .5s ease-in-out;
}

a:hover {
    color: rgb(136, 136, 135);
}

/* Navigation */

.top-navigation {
    height: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.hamburger {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

.line {
    height: 0.2rem;
    background-color: #EDEDE9;
    margin: 0.4rem 0;
    transform-origin: right;
    transition: all 0.75s;
}

.hamburger:hover span {
    width: 5rem;
}

.line1 {
    width: 5rem;
}

.line2 {
    width: 3.5rem;
}

.line3 {
    width: 1.5rem;
}

.logo {
    font-size: 1.75rem;
    font-weight: 500;
    color: #EDEDE9;
    text-decoration: none;
    margin-left: 2rem;
}

.top-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 0;
}

.top-nav-item {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: 400;
}

.top-nav-item i {
    font-size: 2rem;
}

.side-nav {
    height: 100vh;
    width: 37.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #153243;
    z-index: 100;
    transform: translateX(-37.5rem);
    transition: all 1.5s ease-in-out;
}

.side-nav-show {
    transform: translateX(0rem);
}

.nav-close {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-close:hover span {
    background-color: rgb(141, 141, 140);
}

.line-x,
.line-y {
    height: 0.2rem;
    background-color: #EDEDE9;
    margin: 0.4rem 0;
    width: 3rem;
    z-index: 200;
    transition: all .5s ease-in;
}

.line-y {
    transform: rotate(-40deg) translateY(-6.5px);
}

.line-x {
    transform: rotate(40deg) translateY(6.5px);
}

/* Hero section in index.html */
.hero-container {
    min-height: 55rem;
    height: 85vh;
}

.hero-col-left {
    height: 50%;
    background: url('/media/chair-hero.jpg') no-repeat center center;
    background-size: cover;
}

.hero-col-right {
    height: 50%;
    background: url('/media/green-sofa-hero.jpg') no-repeat center center;
    background-size: cover;
}

.hero-col-right h1 {
    transform: translateY(-50%);
    margin-bottom: 15%;
    color: #EDEDE9;
    font-weight: 500;
    letter-spacing: .2rem;
    font-size: 5rem;
    text-align: center;
}

.hero-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Media Querys */

/* medium 768px */
@media (min-width: 768px) {
    .link-button {
        font-size: 2rem;
        padding: 3rem;
        width: 20rem;
        height: 6.5rem;
    }

    .logo {
        font-size: 2.5rem;
        margin-left: 5rem;
    }

    .top-nav-item {
        font-size: 1.75rem;
    }

    .hero-col-right h1 {
        margin-bottom: 5%;
        font-size: 6.5rem;
    }

}

/* large 992px*/
@media (min-width: 992px) {

    .link-button {
        font-size: 2.5rem;
        padding: 3.5rem;
        width: 25rem;
        height: 8rem;
    }

    .logo {
        font-size: 3rem;
    }

    .top-nav-item {
        font-size: 1.75rem;
    }

    .hero-col-right h1 {
        font-size: 8rem;
    }
}

/* x-large 1200px */
@media (min-width: 1200px) {
    .link-button {
        font-size: 2.5rem;
        padding: 3.5rem;
        width: 25rem;
        height: 7rem;
    }

    .logo {

        margin-left: 10rem;
    }

    .hero-col-left,
    .hero-col-right {
        height: 100%;
    }

    .hero-col-right h1 {
        margin-top: 30%;
        transform: translateX(-50%);
    }

    .hero-links {
        transform: translateX(-51%);
    }
}

/* xx-large 1400px */
@media (min-width: 1200px) {}