@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-size: 10px;
}

html {
    height: 100%;

}

.row,
.col {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EDEDE9;
}
/* css for animation on scroll */
.animation-element {
  opacity: 0;
  transform: translateY(7.5rem);
  transition: all 1.5s cubic-bezier(.41, .04, .46, 1);
}
.animation-active {
  opacity: 1;
  transform: translateY(0px);
}
/* common elements */

.link-button {
    font-size: 1.6rem;
    font-weight: 300;
    text-decoration: none;
    padding: 2rem;
    width: 16rem;
    height: 5rem;
    transition: all .5s ease-in-out;
}

.link-button-light {
    color: #EDEDE9;
    border: .1rem solid #EDEDE9;
    background: rgba(29, 29, 29, 0.433);
    backdrop-filter: blur(.3rem);
}

.link-button-light:hover {
    background-color: rgba(237, 237, 233, 0.555);
    backdrop-filter: blur(.5rem);
    color: #153243;
}

.link-button-dark {
    color: #153243;
    border: .1rem solid #153243;
}

.link-button-dark:hover {
    background-color: #153243;
    color: #EDEDE9;
}

button {
    background: transparent;
    border-width: 0;
}

button:focus {
    outline: none;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-shadow {
    text-shadow: .5rem .5rem .8rem rgba(26, 26, 23, 0.678);
}

a {
    transition: all .5s ease-in-out;
}

a:hover,
.side-nav-item a:hover,
.side-nav-item:hover {
    color: rgb(136, 136, 135);
}

/* override bootstrap classes  */
.container-fluid {
    padding: 0;
}

.row {
    --bs-gutter-x: 0;
}

/* Navigation */

.top-navigation {
    height: 6rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all .5s ease-in;
}

.top-nav-colored {
    background-color: #153344d8;
    backdrop-filter: blur(1rem);
}

.hamburger {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

.line {
    height: 0.2rem;
    background-color: #EDEDE9;
    margin: 0.4rem 0;
    transform-origin: right;
    transition: all 0.75s;
}

.hamburger:hover span {
    width: 5rem;
}

.line1 {
    width: 5rem;
}

.line2 {
    width: 3.5rem;
}

.line3 {
    width: 1.5rem;
}

.logo {
    font-size: 1.75rem;
    font-weight: 500;
    color: #EDEDE9;
    text-decoration: none;
    margin-left: 2rem;
}

.top-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 0;
}

.top-nav-item {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: 400;
}

.top-nav-item i {
    font-size: 2rem;
}

.side-nav {
    height: 100vh;
    width: 37.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #153243;
    z-index: 100;
    transform: translateX(-37.5rem);
    transition: all 1.5s ease-in-out;
}

.side-nav-show {
    transform: translateX(0rem);
}

.nav-close {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    flex-direction: column;
}

.nav-close:hover span {
    background-color: rgb(141, 141, 140);
}

.line-x,
.line-y {
    height: 0.2rem;
    background-color: #EDEDE9;
    margin: 0.4rem 0;
    width: 3rem;
    z-index: 200;
    transition: all .5s ease-in;
}

.line-y {
    transform: rotate(-40deg) translateY(-6.5px);
}

.line-x {
    transform: rotate(40deg) translateY(6.5px);
}

.side-nav-menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    margin-left: 20%;
}

.side-nav-menu li a,
.side-nav-menu li {
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: 400;
    color: #EDEDE9;
    text-decoration: none;
}

.nav-icon {
    font-size: 3rem;
    margin-left: 1rem;
}

.sub-list {
    visibility: hidden;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0rem)
    }

    25% {
        opacity: .5;
    }

    100% {
        opacity: 0;
        transform: translateX(-40rem)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-30rem)
    }

    75% {
        opacity: .5;
    }

    100% {
        opacity: 1;
        transform: translateX(0rem)
    }
}

.side-menu-open li {
    opacity: 0;
    animation: fadeIn cubic-bezier(.41, .04, .46, 1) 1.5s forwards;
}

.side-menu-close li {
    opacity: 1;
    animation: fadeOut cubic-bezier(.41, .04, .46, 1) 1.5s forwards;
}

.side-menu-open li:nth-child(1) {
    animation-delay: 150ms;
}

.side-menu-open li:nth-child(2) {
    animation-delay: 300ms;
}

.side-menu-open li:nth-child(3) {
    animation-delay: 450ms;
}

.side-menu-open li:nth-child(4) {
    animation-delay: 600ms;
}

.side-menu-open li:nth-child(5) {
    animation-delay: 750ms;
}

.side-menu-open li:nth-child(6) {
    animation-delay: 900ms;
}

.side-menu-close li:nth-child(6) {
    animation-delay: 150ms;
}

.side-menu-close li:nth-child(5) {
    animation-delay: 300ms;
}

.side-menu-close li:nth-child(4) {
    animation-delay: 400ms;
}

.side-menu-close li:nth-child(3) {
    animation-delay: 500ms;
}

.side-menu-close li:nth-child(2) {
    animation-delay: 600ms;
}

.side-menu-close li:nth-child(1) {
    animation-delay: 700ms;
}

.sublist-hidden {
    display: none;
}

.sublist-show {
    display: block;
}

.furniture-sublist {
    margin-left: 5rem;
    list-style: none;
}

.search-sublist {
    margin-top: 5rem;

}

.search-sublist input {
    background-color: #153243;
    width: 20rem;
    border-bottom: 1px solid #EDEDE9;
    color: #EDEDE9;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    font-size: 1.5rem;
}

.search-sublist input:focus {
    outline: none;
}

.search-sublist button {
    margin-top: 2rem;
    color: #EDEDE9;
    font-size: 1.5rem;
    padding: .5rem 3rem;
    border: .1rem solid #EDEDE9;
    transition: all .5s ease-in;
}

.search-sublist button:hover {
    background-color: #EDEDE9;
    color: #153243;
}

/* Hero section in index.html */
.hero-container {
    min-height: 55rem;
    height: 85vh;
}

.hero-col-left {
    height: 50%;
    background: url('/media/chair-hero.jpg') no-repeat center center;
    background-size: cover;
}

.hero-col-right {
    height: 50%;
    background: url('/media/green-sofa-hero.jpg') no-repeat center center;
    background-size: cover;
}

.hero-overlay {
    height: 85vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(53, 52, 52, 0.15);

}

.hero-col-right h1 {
    transform: translateY(-50%);
    margin-bottom: 15%;
    color: #EDEDE9;
    font-weight: 500;
    letter-spacing: .2rem;
    font-size: 5rem;
    text-align: center;
}

.hero-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/* ---------------About Section */
.about-col {
    flex-direction: column;
    margin: 4rem 0;
}

.about-col p {
    margin: 3rem 2rem;
    font-size: 2rem;
    color: #153243;
    text-align: center;
}

/* --------------- New-in Section */
.new-item-title-col {
    height: 10rem;
    margin: 0 10%;
}

.new-item-title-col h3 {
    font-size: 3rem;
}

.new-item-title-col,
.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.arrows {
    width: 9rem;
}

.arrow {
    background-color: #D1D1C7;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.arrow i {
    font-size: 2rem;
}

.arrow-active {
    color: #EDEDE9;
    background-color: #153243;
}


.new-item-slider {
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0 5%;
    margin-bottom: 5%;
}

.item-container {
    margin: 1rem .5rem;
}

.item-details {
    margin-top: 1rem;
}

.item-details h3 {
    font-weight: 400;
}

.item-details p {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.item-container a img {
    width: 28rem;
    height: 40rem;
    object-fit: cover;
}

/* shop by categories */
.category-container {
    background-color: #D1D1C7;
}

.category-title-col h3 {
    font-size: 3rem;
    margin: 20% 10%;
}
.category-col {
    margin: 4rem 0;
}


.category-image {
    height: 35rem;
    width: 35rem;
    display: block;
    margin: 2rem auto;
    position: relative;
}

.category-image img {
    height: 100%;
    width: 100%;
}

.category-image:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(31, 31, 27, 0.329);
    transition: all .5s ease-in-out;
}

.category-image:hover:after {
    background-color: rgba(112, 112, 112, 0.103);
}

.category-image a {
    font-size: 4rem;
    font-weight: 600;
    position: absolute;
    bottom: 7.5%;
    left: 7.5%;
    text-decoration: none;
    color: #EDEDE9;
    z-index: 10;
}

/* Media Querys */

/* medium 768px */
@media (min-width: 768px) {
    .link-button {
        font-size: 2rem;
        padding: 3rem;
        width: 20rem;
        height: 6.5rem;
    }

    .logo {
        font-size: 2.5rem;
        margin-left: 5rem;
    }

    .top-nav-item {
        font-size: 1.75rem;
    }

    .hero-col-right h1 {
        margin-bottom: 5%;
        font-size: 6.5rem;
    }

}

/* large 992px*/
@media (min-width: 992px) {

    .link-button {
        font-size: 2.5rem;
        padding: 3.5rem;
        width: 25rem;
        height: 8rem;
    }

    .logo {
        font-size: 3rem;
    }

    .top-nav-item {
        font-size: 1.75rem;
    }

    .hero-col-right h1 {
        font-size: 8rem;
    }

    .category-image {
        height: 37.5rem;
        width: 37.5rem;
    }
}

/* x-large 1200px */
@media (min-width: 1200px) {
    .link-button {
        font-size: 2.5rem;
        padding: 3.5rem;
        width: 25rem;
        height: 7rem;
    }

    .logo {

        margin-left: 10rem;
    }

    .hero-col-left,
    .hero-col-right {
        height: 100%;
    }

    .hero-col-right h1 {
        margin-top: 30%;
        transform: translateX(-50%);
    }

    .hero-links {
        transform: translateX(-51%);
    }

    .item-container {
        margin: 2rem 3rem;
    }

    .item-container a img {
        width: 38rem;
        height: 49rem;
        object-fit: cover;
    }

    .category-image {
        height: 40rem;
        width: 40rem;
    }

}

/* xx-large 1400px */
@media (min-width: 1400px) {
    .category-image {
        height: 42.5rem;
        width: 42.5rem;
    }
}