{% extends "base.html" %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock %}
{% block other_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<div class="container checkout-container">
    <div class="row item-row">
 <div class="col-12 col-md-6 post-img-col  flex-center">
            <div class="post-image-container">
                   <img src="{{ MEDIA_URL }}{{post.image}}" alt="Image belonging to {{post.title}}">
            </div>
        </div>
        <div class="col-12 col-md-6 post-title-col">
          <div class="post-title-container flex-center">
              <h1>{{post.title}}</h1>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 post-content">
       <p>{{post.content}}</p>
        </div>
        <div class="col-12 col-md-6 offset-md-2 col-lg-4 offset-lg-4 ">
             <div class="commentform">
               <form id="comment-form" method="POST" action="" >
                   {% csrf_token %}
                  {{ form|crispy }}
                  <button class="item-link-button flex-center item-link-dark" type="submit">Add comment</button>
               </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
