{% extends "base.html" %}
{% load static %}

{% block title %}
Blog
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<div class="container checkout-container">
      <div class="row">
        <div class="col flex-center checkout-heading">
            <h1>Inspiration</h1>
        </div>
    </div>
    <div class="row items-row">
{% for post in posts %}
<div class="col-12 col-md-6 col-lg-4 item-col">
    <div class="blog-item-container flex-center">
        <div class="blog-image-container">
            {% if post.image %}
                 <a href="#">
                        <img src="{{ MEDIA_URL }}{{ post.image }}"
                            alt="image for {{ item.title }}"></a>
                    {% else %}
                    <a href="#">
                        <img src="{{ MEDIA_URL }}no_image.png"
                            alt="No image found for {{ post.title }}"></a>
                    {% endif %}
   
         <div class="blog-item-details">
                <h3 class="text-center">{{post.title}}</h3>
                <a href="" class="item-link-light item-link-button  flex-center">Read More ...</a>
            </div>
    </div>
</div>
</div>
{% endfor %}

    </div>

</div>
{% endblock %}
