{% extends "base.html" %}

{% load static %}
{% block title %}
All Items
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}

<div class="container">
    <!-- Title Section -->
    <div class="row">
        <div class="col flex-center items-heading">
            {% if current_category %}
            <h1>{{ current_category.display_name }}</h1>
            {% else %}
            <h1>Our Collection</h1>
            {% endif %}
        </div>
    </div>
    <!-- items section -->
    <div class="row items-row">
        {% for item in page_obj %}
        <div class="col-12 col-md-6 col-lg-4 item-col">
            <div class="item-container flex-center">
                <a href="{% url 'single_item' item.id %}"><img src="/media/{{ item.image }}"
                        alt="image for {{ item.name }}"></a>
            </div>
            <div class="item-details all-item-details flex-row-between">
                <h3>{{ item.name }}</h3>
                <p>€ {{ item.price }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- pagination taking from djano documintation that I changed slightly and styled with css -->
    <div class="paginate-items">
        <div class="current">
            <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
        </div>

        <!-- pagination for search -->
        {% if search %}
        <div class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1&query={{ search }}&sort={{ sort }}&direction={{ direction }}">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}&query={{ search }}&sort={{ sort }}&direction={{ direction }}">&laquo; Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&query={{ search }}&sort={{ sort }}&direction={{ direction }}">Next &raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&query={{ search }}&sort={{ sort }}&direction={{ direction }}">Last &raquo;</a>
        </div>
        {% endif %}

        <!-- pagination for categories -->
        {% elif current_category %}
        <div class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1&category={{ current_category.name }}&sort={{ sort }}&direction={{ direction }}">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}&category={{ current_category.name }}&sort={{ sort }}&direction={{ direction }}">&laquo;
                Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&category={{ current_category.name }}&sort={{ sort }}&direction={{ direction }}">Next &raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&category={{ current_category.name }}&sort={{ sort }}&direction={{ direction }}">Last &raquo;</a>
        </div>
        {% endif %}

        <!-- pagination without extra url queries -->
        {% else %}
        <div class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1&sort={{ sort }}&direction={{ direction }}">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&direction={{ direction }}">&laquo; Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&direction={{ direction }}">Next &raquo;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&sort={{ sort }}&direction={{ direction }}">Last &raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}