{% extends "base.html" %}

{% block main_content %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
<div class="contaner page-container allauth-container m-auto">
    <div class="row">
        <div class="col-12 page-heading text-center">
            <h1>Welcome to Abode.com</h1>
            <hr>
        </div>
    </div>
    {% block allauth_block %}
    {% endblock%}
</div>

{% endblock %}

{% block other_end_js %}

{% block extra_body %}
{% endblock %}
{% endblock %}