{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block allauth_block %}
<div class="row allauth-row">
    <div class="col allauth-col">
        <h2 class="text-center mb-5">{% trans "Set Password" %}</h2>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set allauth-form m-auto">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="primaryAction  item-link-button flex-center item-link-dark"
                type="submit">{% trans 'Set Password' %}</button>
        </form>
    </div>
</div>

{% endblock %}