{% extends "account/base.html" %}

{% load i18n %}
{% load account %}



{% block allauth_block %}
<div class="row allauth-row">
    <div class="col allauth-col">
        <h2 class="text-center mb-5">{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-center fs-4 mb-5">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not
            receive it within a few minutes.{% endblocktrans %}</p>
        <a href="{{ login_url }}" class="item-link-button flex-center item-link-light primaryAction ">Login Here</a>
    </div>
</div>
{% endblock %}