{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block allauth_block %}
<div class="row allauth-row">
    <div class="col allauth-col">
        <h2 class="text-center mb-5">{% trans "Change Password" %}</h2>
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change allauth-form m-auto">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="item-link-button flex-center item-link-dark" type="submit"
                name="action">{% trans "Change Password" %}</button>
            <a class="text-center" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</div>
{% endblock %}