{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block allauth_block %}
<div class="row allauth-row">
    <div class="col allauth-col">
        <h2 class="text-center mb-5">{% trans "Verify Your E-mail Address" %}</h2>
        <p class="text-center fs-4 mb-5">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link
            provided to finalize the signup process. Please contact us if you do not receive it within a few
            minutes.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}