{% extends "base.html" %}
{% load static %}
{% block title %}
404
{% endblock %}
{% block header %}
{% include 'includes/nav-background.html' %}
{% endblock %}
{% block main_content %}
<div class="container page-container">
    <div class="row">
        <div class="col page-heading text-center">
            <h1>Opps something has gone wrong (404 Error)</h1>
        </div>
    </div>
    <div class="row">
       <div class="col-12">
            <p class="fs-4 text-center mb-4">This page dosent exist please try a different location.</p>
            <a href="{% url 'home_page' %}" class="item-link-light item-link-button  flex-center m-auto">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}
