/* css to override the previous form the check box label */

#checkout-form label[for="save-info"] {
    clip: auto;
    height: 3rem;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 80%;
    font-size: 1.25rem;
}

.checkout-submit-links {
    flex-direction: row;
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(237, 237, 233, .4);
    z-index: 9999;
}

.loading-show {
    display: block;
}

.spinner-container {
    height: 100%;
    width: 100%;
}

.spinner {
    font-size: 5rem;
    height: 15rem;
    width: 15rem;
}