/* css from bootstrap to hide the label and show only for screenreaders for accsesibility */
#checkout-form label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* css to override the previous for the chck box label */
#checkout-form label[for="save-info"] {
    clip: auto;
    height: 3rem;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 80%;
    font-size: 1.25rem;
}

#checkout-form input[type="checkbox"] {
    background-color: #EDEDE9;
    height: 1rem;
    width: 1rem;
}

#checkout-form input[type="checkbox"]:checked {
    background-color: #153243;
}

#checkout-form input::placeholder {
    font-size: 1.1rem;
    color: rgba(21, 50, 67, .7);
}

select:invalid,
select option[value=""] {
    color: rgba(21, 50, 67, .7);
}

#checkout-form input:focus,
#checkout-form input:active,
.StripeElement--focus {
    box-shadow: 0 0 0 0.25rem #D1D1C7;

}

/* css edited from strip documentation */
.StripeElement,
#checkout-form input,
#checkout-form select {
    box-sizing: border-box;
    height: 3.5rem;
    padding: 1rem 1.2rem;
    border: 1px solid #153243;
    border-radius: 0px;
    background-color: #EDEDE9;
}

#checkout-form input {
    font-size: 1.25rem;
}


.StripeElement--webkit-autofill {
    background-color: #D1D1C7 !important;
}


/* code from stack overflow to stop my inputs 
turning a light blue when filled in */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #EDEDE9 inset !important;
    box-shadow: 0 0 0px 1000px #EDEDE9 inset !important;
}

.checkout-submit-links {
    flex-direction: row;
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(237, 237, 233, .2);
    backdrop-filter: blur(.3rem);
    z-index: 9999;
}

.loading-show {
    display: block;
}

.spinner-container {
    height: 100%;
    width: 100%;
}

.spinner {
    font-size: 5rem;
    height: 15rem;
    width: 15rem;
}